<div class="container">
    <div class="form-container">
        <div class="title">Hesap Oluştur</div>

        <form [formGroup]="createUserForm">
            <mat-form-field appearance="outline">
                <mat-label>Emailinizi Giriniz</mat-label>
                <input matInput formControlName="email"/>
                <mat-error>
                    <p *ngIf="f['email'].errors &&f['email'].errors['required']">Email zorunludur</p>
                    <p *ngIf="f['email'].errors &&f['email'].errors['email']">Email formatını doğru giriniz</p>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Kullanıcı Adınızı Giriniz</mat-label>
                <input matInput formControlName="username"/>
                <mat-error>
                    <p *ngIf="f['username'].errors &&f['username'].errors['required']">Kullanıcı adı zorunludur</p>
                    <p *ngIf="f['username'].errors &&f['username'].errors['maxlength']">Max 10 karater giriniz</p>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Şifrenizi Giriniz</mat-label>
                <input type="password" matInput formControlName="password"/>
                <mat-error>
                    <p *ngIf="f['password'].errors &&f['password'].errors['required']">Password zorunludur</p>
                    <p *ngIf="f['password'].errors &&f['password'].errors['minlength']">Min. 8 karater giriniz</p>
                </mat-error>
  
            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login-button" [disabled]="createUserForm.invalid" (click)="createAccount()">
               Kaydol
            </button>
            <p>Veya</p>
            <button mat-button routerLink="/login">Giriş Yap</button>
        </div>
    </div>
  </div>
  
  